{% extends 'venues/layout.html' %}
{% block body %}
{% load static %}

<div class="blogs-2" id="blogs-2">
    <div class="container">
        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <h2 class="mb-0 text-center">
                    Ultimi eventi
                </h2>
                <br>
                <div class="row">
                    {% for event in events %}
                    <div class="col-md-4">
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                <a href="{% url 'venue' event.venue %}">
                                    <img class="img img-raised" src="{{event.venue.image.url}}">
                                </a>
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-info">{{event.venue}}</h6>
                                <h4 class="card-title">
                                    <a href="{% url 'venue' event.venue %}">{{event.title}}</a>
                                </h4>
                                <p class="card-description">
                                    {% if event.description|wordcount > 20 %}
                                    {{ event.description|truncatewords:20 }}
                                    <button class="btn btn-sm btn-secondary read-more" data-status="more"
                                        data-less="{{ event.description|truncatewords:25 }}"
                                        data-description="{{event.description}}">Leggi di più</button>
                                    {% else %}
                                    {{ event.description }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="pagination-container">
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-info pagination-sm justify-content-center">
                {% if events.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{events.previous_page_number}}"
                        aria-label="Previous">&laquo;</a></li>
                {% else %}
                <li class="page-item disabled"><span class="page-link"> &laquo;</span></li>
                {% endif %}
                {% for page_num in events.paginator.page_range %}
                {% if events.number == page_num %}
                <li class="active page-item"><span class="page-link">{{ page_num }} <span
                            class="sr-only">(current)</span></span></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{page_num}}">{{ page_num }}</a></li>
                {% endif %}
                {% endfor %}
                {% if events.has_next %}
                <li class="page-item" aria-label="Next"><a class="page-link"
                        href="?page={{events.next_page_number}}">&raquo;</a></li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
<script src="{% static 'venues/readmore.js' %}"></script>
<div class="container" id="news-container">
    <h2 class="mb-0 text-center">
        Prossimi eventi
    </h2>
    <div class="blogs-1">
        <div class="col-md-12 ml-auto mr-auto">
            {% for event in events %}
            <div class="card card-plain card-blog mt-0">
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto">
                        <div class="card-body">
                            <h4 class="card-category">
                                <a href="{% url 'venue' event.venue.name %}">
                                    {{event.venue}}
                                </a>
                            </h4>
                            <h3 class="card-title">
                                {{event.title}}
                            </h3>
                            <p class="card-text">
                                {{ event.description }}
                            </p>
                        </div>
                        <p class="card-footer">
                            {{ event.date }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
