{% extends 'venues/layout.html' %}
{% load static %}
{% block body %}
<div class="container mt-3 cd-section text-center">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.venue }}
        </div>
        <div class="form-group datepicker">
            <div class="input-group" data-target-input="nearest">
                {{ form.date }}
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker"></div>
            </div> 
        </div>
        <div class="form-group">
            {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.description }}
        </div>
        <button class="btn btn-primary btn-round" id="save-button" type="submit">Pubblica</button>
    </form>
</div>
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script src="{% static 'venues/assets/js/plugins/bootstrap-datetimepicker.js' %}"></script>

<script>
    $('.datetimepicker').datetimepicker({
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-chevron-up",
            down: "fa fa-chevron-down",
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-screenshot',
            clear: 'fa fa-trash',
            close: 'fa fa-remove'
        },
        sideBySide: true,
        locale: 'it',
    });
</script>

{% endblock %}
{% endblock %}
