{% extends 'venues/layout.html' %}
{% load static %}
{% block body %}
<div class="container mt-3 cd-section text-center">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.venue }}
        </div>
        <div class="form-group">
            {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.content }}
        </div>
    <button class="btn btn-primary btn-round" id="save-button" type="submit">Pubblica</button>
    </form>
</div>

{% endblock %}