appdirs==1.4.4
asgiref==3.2.10
autopep8==1.5.6
black==20.8b1
branca==0.4.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
coverage==5.5
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1
django-environ==0.4.5
django-on-heroku==1.1.2
django-resized==0.3.11
django-tempus-dominus==5.1.2.13
django-utils-six==2.0
filelock==3.0.12
flake8==3.9.0
folium==0.12.1
geographiclib==1.50
geopy==2.1.0
gunicorn==20.1.0
idna==2.10
Jinja2==2.11.3
MarkupSafe==1.1.1
mccabe==0.6.1
mypy-extensions==0.4.3
numpy==1.20.2
packaging==20.9
pathspec==0.8.1
pep8==1.7.1
Pillow==8.2.0
pluggy==0.13.1
psycopg2-binary==2.8.6
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
pyparsing==2.4.7
python-dotenv==0.17.0
pytz==2021.1
regex==2021.4.4
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
tox==3.23.0
typed-ast==1.4.2
typing-extensions==3.7.4.3
urllib3==1.26.4
virtualenv==20.4.3
whitenoise==5.2.0
